<footer class="bg bg-info p-3">
  <div class="text-center">
    <a href="https://github.com/emersonxinay/buscador_pelicula" class ="btn">link de github
      git@github.com:emersonxinay/buscador_pelicula.git </a>
    <h5>todos los derechos reservados <%= Time.now.year %>
    </h5>
  </div>
</footer>