<nav class="navbar navbar-light bg-gray">
  <div class="container ">
    <%= link_to 'Peliculas', root_path, class:"navbar-brand btn btn-primary text-light" %>
    <%= link_to 'Ingresar Pelicula', new_movie_path, class:"navbar-brand btn btn-success text-light" %>
  </div>
</nav>