<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to 'Peliculas', root_path, class:"navbar-brand btn btn-primary" %>
    <%= link_to 'New Movie', new_movie_path, class:"navbar-brand btn btn-primary" %>
  </div>
</nav>